[2021-05-31 12:03] cyntss opened #1 "Searching for 2 or more words returns double statement on the UI"
![image](https://user-images.githubusercontent.com/5013096/120190174-887f9b80-c218-11eb-88da-107732ac0763.png)

Steps to reproduce the issue:

- Enter "Flight Class".
- The UI will return the fetched results after entering "flight" but after the blank space and the new word, it seems it is performing a new search and returning the empty results all on the same screen.

Expected behavior:

- All it

[2021-10-07 13:28] cyntss opened #5 "Bug: Error while searching two or more Icons at a time."
Importing issues from old repo on Gitlab.
Created by: @Striver08

----

While searching two or more icons it shows "No Results to shows" but upon scrolling the page, Icons can be seen.
PFA for reference.

![image](https://user-images.githubusercontent.com/5013096/136393808-3c100214-f503-4dc8-a971-2ece9bc5dd69.png)

![image](https://user-images.githubusercontent.com/5013096/136393847-517bd4ae-5770-

[2021-10-07 13:30] cyntss opened #6 "Selection issue on Toggling to animated icons tab"
Importing issues from old repo on Gitlab.
Created by: @Sanyam_Pandey

----

If someone selects an icon in static icons and toggles to 'animated icon tab', the search results are shown according to icon selected in 'static icons tab' .Also the search bar shows the selected static icon name.

video:

https://gitlab.com/SUSE-UIUX/eos-icons-landing/uploads/2f7b2466342a35f935198cd1a6dcb805/screen-captu

[2021-10-07 13:33] cyntss opened #7 "Toggle "Select Multiple" to false when dealing with animated icons"
Importing issues from old repo on Gitlab.
Created by: @deutranium

----

### Current Behaviour:
The "Select Multiple" option does not toggle back to "off" state when a user is trying to select animated icons and gets disabled in the "on" state while preventing the user from selecting more than one icon. The same can be seen in the screenshot below

**Static Icons:**
![image](https://user-images.gi

[2021-10-07 14:30] cyntss opened #8 "SEO issue: no twitter account added to the structure"
Importing issues from old repo on Gitlab.
Created by: @cyntss

----

I passed eos-icons on woorank.com to get an analysis as to where we can improve it, and several issues where identified. among them, is this:

![image](https://user-images.githubusercontent.com/5013096/136405526-c6a2d8e7-cb26-44f4-8189-73c10eda5685.png)

More info provided by woorank

https://help.woorank.com/hc/en-us/articles/36

[2021-10-07 14:32] cyntss opened #9 "New Feature : Adding option for downloading multiple animated icons"
Importing issues from old repo on Gitlab.
Created by: @Sanyam_Pandey

---

Currently, a user can only download one animated icons at a time . This feature will allow a user to select and download multiple animated icons at once.

video:

https://gitlab.com/SUSE-UIUX/eos-icons-landing/uploads/bdef2a8fe8fb05c188c63d20004e0c1b/screen-capture__3_.webm

[2021-10-07 14:34] cyntss opened #10 "Animated icons Bug: The search field is not getting populated"
Importing issues from old repo on Gitlab.
Created by: @vinayaksh42

----

The search field of the animated icons tab is not getting populated which results in the inability to share the icon as the URL remains the same.

https://user-images.githubusercontent.com/5013096/136406200-08fd2eed-8d72-4846-95ac-ee9cea02222a.mp4

[2021-10-08 11:43] cyntss opened #11 "Insufficient contrast ratio"
Importing issues from old repo on Gitlab.
Created by: @Aman-Codes

-----

Background and foreground colors should have a sufficient contrast ratio.

![image](https://user-images.githubusercontent.com/5013096/136550991-a4f57d54-5b2a-494a-bcac-2ad1aa3be19c.png)

[2021-10-08 11:44] cyntss opened #12 "Add missing label tag to all input tags"
Importing issues from old repo on Gitlab.
Created by: @Aman-Codes

----

Input tag has a missing label tag
![image](https://user-images.githubusercontent.com/5013096/136551162-dae1b058-71aa-4bc6-b739-d8e2341ed610.png)

[2021-10-14 08:26] cyntss opened #13 "Use consecutive heading level tag"
Importing issues from old repo on Gitlab.
Created by: @Aman-Codes

---

There are non-consecutive heading levels used in the website which contains `<h4>` tag directly following an `<h1>` tag.
Proposal to replace all non-consecutive heading tags with consecutive tags

![image](https://user-images.githubusercontent.com/5013096/137280070-f2fc0177-38a2-4fb3-86ec-885a4ff426b7.png)

[2021-10-14 08:27] cyntss opened #14 "Enhancement: Add more meta tags"
Importing issues from old repo on Gitlab.
Created by: @Aman-Codes

----

Add more missing meta tags like description tags, keyword tags, Facebook and Twitter metadata tags etc.

[2021-10-14 08:28] cyntss opened #15 "Follow-up from "Responsive and mobile""
The following discussion from !166 should be addressed:

- [ ] @cyntss started a [discussion](https://gitlab.com/SUSE-UIUX/eos-icons-landing/-/merge_requests/166#note_455215584):  (+2 comments)

![image](https://user-images.githubusercontent.com/5013096/137280385-63be5ca6-945c-496a-80ff-c896a93da599.png)

[2021-10-14 08:30] cyntss commented on #15
I'm adding below images taken from my mobile:
The text to join the community is not visible. I suggest removing the Slack image in mobile perhaps? Also align the text to the left (mobile and desktop):

![image](https://user-images.githubusercontent.com/5013096/137280561-2927de4b-6018-43c9-a103-afb56dd758a1.png)

The title for contributors is not in the center:

![image](https://user-images.githubu

[2021-10-14 08:32] cyntss opened #16 "On refreshing the page, selected icon getting cached in search result."
Importing issues from old repo on Gitlab.
Created by: @m1-key

---

If you select an icon and then refresh the page, the selected icon automatically gets cached. And by default, it searches for similar icons of the selected one, and the same goes for the multiple selected, in this the last selected icon get cached in the search result, and then on refreshing the page it automatically searches acco

[2021-11-23 21:04] kailash360 commented on #8
@cyntss Can I work on this issue?

[2021-12-06 19:07] cyntss commented on #8
@kailash360 go for it! 👍

[2021-12-28 08:36] kailash360 commented on #8
@cyntss
I have created PR #17  for this issue

[2022-01-20 20:20] capedcrusader23 commented on #7
@cyntss i would like to pick this issue.

[2022-01-20 20:38] cyntss commented on #7
@capedcrusader23 all yours!

[2022-01-20 20:49] #8 closed

[2022-01-21 21:12] capedcrusader23 commented on #7
@cyntss , can you review this https://github.com/EOS-uiux-Solutions/eos-icons-landing/pull/18

[2022-01-21 21:29] capedcrusader23 commented on #6
i wanted to know the expected behaviour in this case. Ideally when an icon is selected in static tab and user switch to animated icons then all icons should be shown and if user switch back to static icons then previous selected icons should be selected right? @cyntss

[2022-01-22 15:47] capedcrusader23 commented on #10
if this is not resolved i can pick this up @cyntss .

[2022-01-22 17:08] capedcrusader23 commented on #5
@cyntss  can you assign this to me.

[2022-01-23 16:10] ayushsatyam146 commented on #16
I would like to work on this issue. Can I work on this @cyntss?

[2022-01-25 18:35] cyntss commented on #16
@ayushsatyam146 yes of course! be very mindful of testing all different scenarios: when a user wants to share an icon, when a user receives the URL of a shared icon, try it with icons in the top of the list as well as icons at the bottom of the list to make sure that the selection is visible.

[2022-01-25 18:36] cyntss commented on #5
done @capedcrusader23

[2022-01-25 18:37] cyntss commented on #10
@capedcrusader23 all yours!

[2022-01-25 18:40] cyntss commented on #13
You've been assigned. Please follow the accessibility guidelines at https://suse.eosdesignsystem.com/ for more information as this is a a11y improvement strictly.

[2022-01-27 21:23] ayushsatyam146 commented on #16
Added PR #22 for this issue. Please review.

[2022-01-30 18:05] shrinishant opened #24 "Visiting other Pages renders with the scroll position of previously rendered Page"
When visiting different Pages, the scroll position remains the same as the previously visited page. It should be scrolled to top of the page which the user clicks for better experience.

[2022-01-30 18:08] shrinishant commented on #24
@cyntss I would like to work on this issue. Could you please assign this to me?

[2022-01-31 09:06] vinayaksh42 commented on #24
@shrinishant I have assigned you the issue

[2022-01-31 10:21] ayushsatyam146 opened #25 "Auto scroll to selected icon not working in production"
When a user selects an icon and shares a link to that icon. The icon gets selected and the app automatically scrolls to the selected icon(in new window or browser tab). This feature is working in local build as can be seen in PR #22 but not in production.

[2022-02-01 00:17] shagunchandra opened #27 "Bug: "Download Icon Bar" is not aligned properly"
The download icon bar takes up a lot of space and isn't properly placed under the animation icon area.
![Bug1](https://user-images.githubusercontent.com/84984600/151893976-642724ea-9a6b-4bbf-8a9e-54052df5141e.png)

[2022-02-01 00:18] shagunchandra commented on #27
I am working on it.

[2022-02-01 21:02] AnshumanDhiman opened #28 "Mobile Responsiveness Issues"
The links, images and the table  in the mentioned screenshot are not responsive
![1](https://user-images.githubusercontent.com/67755381/152050582-402e1177-d6ee-4242-b6a8-ddfb4b29d3f6.jpg)
![2](https://user-images.githubusercontent.com/67755381/152050589-d8762c14-75fe-42e7-ba08-b89969b8b8cf.jpg)
![3](https://user-images.githubusercontent.com/67755381/152057802-3d9b3cef-a79e-4fd2-89f3-5349898da584.j

[2022-02-01 21:02] AnshumanDhiman commented on #28
I am would like to work on this.

[2022-02-02 10:14] codetheorem commented on #1
I want to work on this issue.

[2022-02-02 14:16] #24 closed

[2022-02-02 17:28] vinayaksh42 commented on #1
@codetheorem This is actually a duplicate issue. This issue is listed as issue #5 - https://github.com/EOS-uiux-Solutions/eos-icons-landing/issues/5

[2022-02-02 17:28] #1 closed

[2022-02-03 15:48] ayushsatyam146 opened #32 "Unexpected behaviour of default Page load of 'Docs' page"
The very first load of Docs page looks like this.

![image](https://user-images.githubusercontent.com/55888723/152376845-e0bdaeae-2926-4043-890e-7626a831a916.png)

I guess the default view of the Page should be like below -

![image](https://user-images.githubusercontent.com/55888723/152377240-d14f10eb-ef6d-49e2-8992-33a4033ebcec.png)

[2022-02-03 15:48] ayushsatyam146 commented on #32
I am working on this issue.

[2022-02-03 17:29] ayushsatyam146 commented on #32
Made PR #33 regarding this issue. Please review.

[2022-02-03 19:04] capedcrusader23 commented on #6
can you assign this to me

[2022-02-03 21:21] #32 closed

[2022-02-03 21:23] #10 closed

[2022-02-03 21:23] #5 closed

[2022-02-04 04:49] capedcrusader23 opened #35 "No result being shown when toggling between tabs"

[2022-02-04 04:50] capedcrusader23 commented on #35
will update more on this issue and try to figure out why it is happening again

[2022-02-04 09:03] AnshumanDhiman opened #36 "Footer Component Re-Design"
As discussed with @cyntss the footer can be Re-Designed for the mobile view.
I have designed a footer which looks like this mentioned below.
![footer](https://user-images.githubusercontent.com/67755381/152500628-1060d954-5344-487f-8387-43b83cc11e46.jpg)
if this is good to go, can anyone help me in assigning this.

[2022-02-05 07:11] capedcrusader23 commented on #35
While changing toggle we can see that no icons found appeared on static icons tabs. The selectMultiple field was only being used to check if tab is static or animated icons. Raised PR for this issue.
<img width="1326" alt="Screenshot 2022-02-05 at 12 40 44 PM" src="https://user-images.githubusercontent.com/37747717/152632495-1b6bfc2c-7559-4cc6-b1cf-db2a69805814.png">
.

[2022-02-05 18:30] vinayaksh42 commented on #36
@AnshumanDhiman the mockup uploaded by you is for desktop view. Can you upload a mockup for mobile view?

[2022-02-06 09:52] AnshumanDhiman commented on #36
![1](https://user-images.githubusercontent.com/67755381/152675554-d9a6657c-d23c-43de-8c17-1d2fd18e676b.jpg)
![2](https://user-images.githubusercontent.com/67755381/152675557-4111106d-9bbb-4705-b433-1cd94818cdce.jpg)
![3](https://user-images.githubusercontent.com/67755381/152675560-234fd2e5-3a3d-4aa9-9905-6a47a2728394.jpg)
![4](https://user-images.githubusercontent.com/67755381/152675561-45b0e5a5-5

[2022-02-06 13:48] vinayaksh42 commented on #36
I personally like the first version. The current footer in mobile view looks like this (a lot similar to your 4th mockup):
![image](https://user-images.githubusercontent.com/54861487/152683830-3c539360-b943-403d-aea2-ed320aafa76c.png)
@cyntss, @kbhutani0001  What's your suggestion for the new design?

[2022-02-06 13:53] vinayaksh42 commented on #35
@capedcrusader23 can you make a short screen recorded video and reproduce the bug in the video?

[2022-02-08 18:05] capedcrusader23 commented on #35
https://user-images.githubusercontent.com/37747717/153048577-9f77dc70-0917-41e8-baef-f10445015e86.mov

[2022-02-08 19:40] #35 closed

[2022-02-10 16:20] AnshumanDhiman opened #39 "Add Copy Button in the Docs Section"
Currently when a user tries to install the npm package, the code has to be copied at all like this.

https://user-images.githubusercontent.com/67755381/153450046-3148e35f-dc91-4206-ad44-a13989539a19.mp4

Instead we can add a copy button to it like the one as shown so that the user can copy it without having selecting all.
![image_2022-02-10_215001](https://user-images.githubusercontent.com/6775538

[2022-02-10 16:20] AnshumanDhiman commented on #39
If it is good to go can I work on this @cyntss @kbhutani0001

[2022-02-11 21:27] chinmaym07 opened #40 "Animated Icons still visible when tab is changed from Static icon to animated icons"
When we select a static icon, search field is populated with the selected icon's name & then if we move onto animated icon's tab then search field is not getting emptied & it searches for the same type of `animated` icon but the `url` is changed & if the resulting animated icon is not found, the rest of the animated icons appear below `No Result to show screen`.

There are two issues
1. Search fie

[2022-02-11 21:30] chinmaym07 commented on #40
@cyntss please verify this issue & if it's available to work .
I would like to work on this issue .

[2022-02-11 21:40] chinmaym07 opened #41 "Suggested search should have a pointer cursor"
Suggested search text shown should have a pointer cursor.

https://user-images.githubusercontent.com/44670961/153673873-f0ff8f8e-39ec-47cd-ac28-f0124f73aab7.mp4

[2022-02-12 10:07] chinmaym07 commented on #9
I would like to work on this issue if it's available.

[2022-02-13 10:14] AnshumanDhiman commented on #41
can I work on this ?

[2022-02-13 10:47] chinmaym07 commented on #41
Yes you can work on this...  Once this issue is approved by maintainers .. Happy contributing ...!!

[2022-02-14 18:21] #13 closed

[2022-02-17 15:36] AnshumanDhiman opened #44 "Various improvements"
There are certain bugs which can be fixed in the eos-icons website.
1.The text "Implementation example" is mentioned twice. We can make it show only one.
![1](https://user-images.githubusercontent.com/67755381/154511371-8cb40b99-9855-401c-9186-967e21fae427.jpg)

2. These are some typos which can be fixed.
![image_2022-02-18_141400](https://user-images.githubusercontent.com/67755381/154648533-8df12

[2022-02-17 21:59] chinmaym07 opened #45 "Show Notification when an element is copied"
Currently when we select a element & try to copy it using the button . No notification is shown to the user.
We can add simple notification.

https://user-images.githubusercontent.com/44670961/154577676-b1c63a98-c81a-4a0f-a354-63a77717c08b.mp4

[2022-02-17 22:08] chinmaym07 opened #46 "Add a border around dropdown & reduce the space between down arrow icon & the text"
Down Arrow Icon & text are a little more separated & vertically misaligned due to which it looks like they both are different .
Add a border & reduce the space between down arrow icon & the text.

Current Version:
![image](https://user-images.githubusercontent.com/44670961/154578141-6a410427-0ebe-4a83-bf13-e5f081b4485b.png)

Enhanced Version:
![image](https://user-images.githubusercontent.com/4467

[2022-02-17 22:15] chinmaym07 opened #47 "New Feature: Add dark mode functionality"
This will enhance the look & feel of the https://eos-icons.com/

[2022-02-18 07:56] #28 closed

[2022-02-18 08:48] AnshumanDhiman commented on #44
Can I work on this if this issue is approved ?

[2022-02-18 09:53] AnshumanDhiman opened #48 "Various UI Improvements"
There are certain UI improvements which can be made in the Eos icons.

1. The download eos icons is a bit far away from the text
![err1](https://user-images.githubusercontent.com/67755381/154654372-8f9cc49e-a62e-4b10-85ad-75bf8ae63c09.jpg)

Suggested Improvement :
We can add the button just below the text to make it handy as shown
![fix1](https://user-images.githubusercontent.com/67755381/15465464

[2022-02-18 09:53] AnshumanDhiman commented on #48
If this issue is approved to be worked on can I work on it ?

[2022-02-18 11:24] cyntss commented on #9
@chinmaym07 I've assigned you to the issue

[2022-02-18 11:25] cyntss commented on #47
@chinmaym07 that would be amazing! I'll assign you to this issue (but if you don't want to work on it please let me know)

[2022-02-18 11:26] cyntss commented on #48
@AnshumanDhiman yes please! I'll assign you now

[2022-02-18 11:28] cyntss commented on #46
Can you use the same style as in our secondary buttons instead?
![image](https://user-images.githubusercontent.com/5013096/154674228-a61b78b1-0476-4b79-8022-40d262331987.png)

We need to follow the same UI and re-use classes to maintain consistency.

[2022-02-18 11:29] cyntss commented on #45
I like this! very good improvement for the UX.

Since you have many issues assigned, I will leave this one for someone else to take

[2022-02-18 11:32] cyntss commented on #44
Amazing catch of so many small issues @AnshumanDhiman ! I'll assign you now. If you have too many please raise a flag and I will assign someone else. Thank you for your contribution!

[2022-02-18 13:15] shrinishant commented on #45
@cyntss Can I please work on this issue?

[2022-02-19 06:54] AnshumanDhiman commented on #11
can I work on this issue ?

[2022-02-19 09:19] AnshumanDhiman commented on #12
Can I work on this issue @cyntss @kbhutani0001 @vinayaksh42

[2022-02-19 10:17] AnshumanDhiman commented on #11
I reviewed the website, what I found that maybe the contrast ratio is fixed.
The contrast ratio currently is lagging in the tags which are mentioned when a user click on an icon
![issue_1_prob_coming_where](https://user-images.githubusercontent.com/67755381/154796549-e71ae47e-47b4-40da-b298-64aee82c3d81.jpg)
![issue_1_icons_select_tags_coming](https://user-images.githubusercontent.com/67755381/154

[2022-02-19 11:01] AnshumanDhiman commented on #14
Can I work on this @cyntss @kbhutani0001 @vinayaksh42

[2022-02-19 11:06] AnshumanDhiman commented on #14
I have reviewed the code, meta tags are present in the index.html. However the primary meta tags are missing, the meta tags for twitter are not currently added and the description meta tag for facebook is also not added.
Current facebook meta tag will result in this :
![f_meta](https://user-images.githubusercontent.com/67755381/154798327-0dfbb2ba-b3f2-47a5-a51c-3c948bc41d6d.jpg)
After adding the d

[2022-02-20 17:57] AnshumanDhiman opened #52 "Update Readme.md"
The current readme file contains "To make sure your SCSS is compliant run: npm run test:scss"
![new_issue](https://user-images.githubusercontent.com/67755381/154856591-6bcae875-b7f3-4007-94d1-e15213411358.jpg)

However, when a user tries to run the command it throws the error as mentioned:
![issue_coming](https://user-images.githubusercontent.com/67755381/154856651-274c5032-ba77-4cd6-9f80-c4f64fa7

[2022-02-20 17:57] AnshumanDhiman commented on #52
if this issue is good to go can I work on this ?

[2022-02-21 03:54] shagunchandra commented on #45
Can I work on this if no one else has been assigned to it? @cyntss @kbhutani0001

[2022-02-21 10:18] cyntss commented on #45
first come first served! @shrinishant  you've been assigned. @shagunchandra there are other open issues if you want to look for one and comment on it that you want to take care of it! I'll assign you

[2022-02-21 10:19] cyntss commented on #52
done @AnshumanDhiman

[2022-02-21 10:52] cyntss commented on #14
this is a great fix @AnshumanDhiman !

[2022-02-21 10:54] cyntss commented on #11
Ok with the fix in contrast for labels!

as for the headings, I would go for the least disruptive options for now:
![image](https://user-images.githubusercontent.com/5013096/154941376-2184c764-18bd-4718-acd0-cf52543d0302.png)

[2022-02-21 11:13] cyntss commented on #12
@AnshumanDhiman you have too many issues assigned to you at the moment. Let's give other members of the community the chance to contribute

[2022-02-21 11:51] chinmaym07 opened #53 "Reduce the Space between different types of icon section"
Empty space between different Icon sections is alot.

![Screenshot 2022-02-21 at 17-12-26 EOS free open source icons](https://user-images.githubusercontent.com/44670961/154949294-4034b71f-690f-4aa2-8eb3-75a89cb14c68.png)

[2022-02-21 12:25] chinmaym07 opened #55 "On Scrolling the codeblock overlaps with the navbar"
Codeblock  overlaps on scrolling in firefox browser .
This works fine in different browsers like chrome, brave.
This is a browser specific issue.

https://user-images.githubusercontent.com/44670961/154952135-6f1f9947-a02e-4e20-bcd1-dd2c402bf85c.mp4

[2022-02-21 12:48] #41 closed

[2022-02-21 19:03] vinayaksh42 commented on #55
Thanks for reporting this issue @chinmaym07

[2022-02-21 23:19] chinmaym07 opened #57 "when disable multiple choice, last element selected as part of multiple choice will still remain active & search result as well as uri remain empty"
**Steps to Reproduce**

Check the Select multiple icon input to true & select some icons then disable it, the last icon selected will be show as a selected icon which is fine but the search input & uri is empty .

https://user-images.githubusercontent.com/44670961/155037207-3864827c-fb18-4cf8-bd2d-e26c869b9054.mp4

[2022-02-22 05:15] cyntss commented on #53
Sure @shagunchandra

[2022-02-22 05:17] cyntss commented on #57
Good catch @chinmaym07

[2022-02-22 16:26] #44 closed

[2022-02-22 19:53] #14 closed

[2022-02-22 20:04] Abhirup-99 opened #60 "Update node-sass versions."
The current node-sass version depends on 3.x node-gyp, which requires python2 for installation.

Python2 has reached EOL and installing the repo now requires an additional python2 installation.

The updated node-sass versions seem to fix the issue.

[2022-02-22 21:29] chinmaym07 opened #62 "Disable Switch theme input when Animated Icons Tab is active"
Currently there is no functionality for Switch Theme in case of Animated Icons.

Solution
Don't `hide` the Switch Theme input instead `Disable` it if the `Animated Icon` Tab is active

![image](https://user-images.githubusercontent.com/44670961/155222505-d30b5476-8d2e-4e47-85ff-6ad9f538b7b0.png)

[2022-02-22 21:32] chinmaym07 commented on #60
Hey can I try this ?

[2022-02-22 21:36] Abhirup-99 commented on #60
Go ahead!

[2022-02-23 10:00] AnshumanDhiman commented on #62
Hi @chinmaym07 I am currently working on this issue, there is an active PR regarding this. Let me try this on my end and will let you know.

[2022-02-23 10:04] chinmaym07 commented on #62
Great ..thanks.
Do we have any other open issue that is used for tracking this change ?

[2022-02-23 10:08] AnshumanDhiman commented on #62
yes #48 issue is active for this issue

[2022-02-23 10:12] #62 closed

[2022-02-24 15:56] AnshumanDhiman opened #65 "Missing Icons links"
Current State :
Some of the eos-icons are not downloading, they are throwing the 404 error page not found as shown.

https://user-images.githubusercontent.com/67755381/155559692-5c0bd285-865d-4590-840c-3e9595de4d63.mp4

Expected State :
The error must be resolved and the link should be updated.

[2022-02-24 21:49] #55 closed

[2022-02-25 07:44] StarTrooper08 commented on #65
Yes, the issue persists still, when I try to download icons I'm unable to do so!

[2022-02-25 10:23] chinmaym07 commented on #60
Hey @Abhirup-99 . I tried upgrading this.
I have a query to which version should I update it ?  In the recent they say `node-sass` provides the same javascript api's as `sass`. [see here](https://sass-lang.com/blog/libsass-is-deprecated)
I tried using `sass`. it works fine.
There are some warnings which are resolved .

![Screenshot from 2022-02-25 15-46-53](https://user-images.githubusercontent.co

[2022-02-25 12:07] cyntss commented on #65
The issue is the following:

The eos-icons package that lives in Gitlab is maintained by SUSE. It seems they have removed some icons from their repository. But there is a fix for it.

If you try to download the icon from the option on "Edit icon" and then "SVG" or "PNG", you will see that it works. This is because the edit is using our API, and this should be always the case! For some reason, it s

[2022-02-25 12:12] cyntss commented on #65
@iifawzi  created the API so he would be a good point of contact in case you need anything.

More information about the API on this project:
https://github.com/EOS-uiux-Solutions/eos-icons-api
(it has postman tests available for you to see all routes available)

[2022-02-25 12:12] AnshumanDhiman commented on #65
I can work on this issue

[2022-02-25 16:22] chinmaym07 commented on #60
Ohkay .. thanks .. will create a PR for the same.

[2022-02-25 18:30] chinmaym07 opened #68 "Irregular bottom border on top navigation links"
**Description**
Bottom Border on top navigation is irregular in each case of active links happens due to `bottom` attribute.

**Resolution**
To have uniform bottom border.

https://user-images.githubusercontent.com/44670961/155768020-6c5e9dee-e1bd-4b8f-a646-03bb8cc25481.mp4

[2022-02-25 18:58] capedcrusader23 commented on #68
i can pick up this issue.

[2022-02-25 22:08] shagunchandra commented on #57
@cyntss can I work on this?

[2022-02-26 15:20] #60 closed

[2022-02-27 15:42] Abhirup-99 commented on #53
![Screenshot from 2022-02-27 21-10-31](https://user-images.githubusercontent.com/48902681/155889172-5c9be334-eb8b-4958-8caf-8e2074c3b52a.png)

The space above `Action.js` is too less on mobile view.

[2022-02-27 15:59] shagunchandra commented on #53
@Abhirup-99 I have fixed this, can you review my PR?

[2022-02-28 09:09] AnshumanDhiman opened #69 "Unresponsive Table - Docs/Vue 2/3 Section"
Current State : The Pre-defined size list table in the Vue 2/3 section of the docs section is not responsive, resulting in adding extra width to the page.
![issue_m](https://user-images.githubusercontent.com/67755381/155955498-bad64d0e-51bc-4059-ba3c-67a81ee97a6f.jpg)

Expected State : The table should be made responsive so that the page does not add the additional width.

[2022-02-28 09:09] AnshumanDhiman commented on #69
Can I work on this issue ?

[2022-03-01 16:29] #65 closed

[2022-03-01 18:11] #53 closed

[2022-03-01 18:25] #48 closed, assigned to AnshumanDhiman

[2022-03-01 18:28] #6 closed

[2022-03-01 18:28] #40 closed

[2022-03-01 18:33] #11 closed

[2022-03-05 13:39] ayushsatyam146 opened #75 "Old Gitlab Links in the Footer"
"Repository" and "Report an issue" links in the footer are linked to old Gitlab links instead of the Github links.

[2022-03-05 18:56] kbhutani0001 commented on #57
Sure @shagunchandra take it up if @chinmaym07 isn't already working on it. Can you confirm @chinmaym07 ?

[2022-03-06 03:55] chinmaym07 commented on #57
Hey I am not working on this issue.. Feel free to take this up .. Happy Contributing . 🚀

[2022-03-06 10:43] #75 closed

[2022-03-08 05:53] ayushsatyam146 opened #80 "Fix default behaviour of eos-icons logo in Navbar"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When the user is present somewhere down on the Icons page, clicking the eos-icons logo in Navbar does nothing.

### Expected Behavior

Clicking the Navbar logo should restore the site to its default state i.e. how the site looks on the first-page load, clearing the How to use section, search

[2022-03-08 08:05] #46 closed

[2022-03-08 08:13] vinayaksh42 commented on #80
Can you give this issue a proper title?

[2022-03-08 08:24] vinayaksh42 commented on #69
@AnshumanDhiman I have assigned this issue to you

[2022-03-08 08:26] vinayaksh42 commented on #68
I have assigned this issue to you.

[2022-03-08 13:03] ayushsatyam146 opened #82 "Unusual behaviour on deselecting an icon"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When we click on an already selected icon to deselect it. It takes double clicks to deselect it. Upon deselecting the icon, URL and search params remain populated with the data of the last selected icon.

### Expected Behavior

Deselecting an icon in a single click, and clearing out the URL a

[2022-03-08 13:03] ayushsatyam146 commented on #82
I am working on this issue.

[2022-03-09 17:23] ayushsatyam146 commented on #57
@kbhutani0001 I can take this up if no one else is assigned to it.

[2022-03-09 18:22] ayushsatyam146 commented on #57
@kbhutani0001 Made PR #84 regarding this issue. Please review.

[2022-03-09 20:36] sarthakkundra commented on #36
I can take this up @vinayaksh42

[2022-03-09 20:41] sarthakkundra commented on #47
Hey @cyntss. I don't think there's active work happening on this issue. This is a big change that I think can only happen in chunks. Would love to discuss it with you.

I think we should start page-by-page and first start with the teams page since that has static data, it'll be the easiest to migrate. What do you think about it?

[2022-03-10 09:18] vinayaksh42 commented on #47
Great idea @sarthakkundra, I agree that it will be much easier to solve this issue in smaller chunks. Do you want me to assign this issue to you?

[2022-03-10 09:19] vinayaksh42 commented on #36
I have assigned this issue to you @sarthakkundra

[2022-03-10 09:26] vinayaksh42 commented on #7
Closing this issue as PR- https://github.com/EOS-uiux-Solutions/eos-icons-landing/pull/18 was merged

[2022-03-10 09:26] #7 closed

[2022-03-10 09:31] vinayaksh42 commented on #27
Closing this issue as PR - https://github.com/EOS-uiux-Solutions/eos-icons-landing/pull/30 got merged

[2022-03-10 09:31] #27 closed

[2022-03-10 10:29] #57 closed

[2022-03-10 11:12] akankshat05 commented on #12
Hey @cyntss can I work on this issue?

[2022-03-10 18:14] sarthakkundra commented on #36
@vinayaksh42 just to be double sure we're going with this design, right?
![152675554-d9a6657c-d23c-43de-8c17-1d2fd18e676b](https://user-images.githubusercontent.com/52133994/157728253-bee9635a-03a0-46dc-b591-42dff7d17d97.jpeg)

[2022-03-10 18:30] sarthakkundra commented on #47
Yeah sure but I'd like to have a thorough discussion to clarify the requirements before beginning work on this. Is there a periodic call that I can join? If not, can we set one up?

[2022-03-11 11:36] vinayaksh42 commented on #36
Yes, I think we can proceed with this one.

[2022-03-11 15:03] StarTrooper08 commented on #15
#### This issue is been solved I guess!! Should we have this open issue closed?

<img src="https://user-images.githubusercontent.com/72031540/157892063-466e3f65-68e9-4526-9807-5e24aa9431a8.jpg" height="700px" width="450px"/>

[2022-03-11 19:44] sarthakkundra opened #87 "Adding a feature request issue template"
EOS icons landing repo doesn't have a feature request template like the user story repo. Would be great as I want to request a feature and I am sure a lot of other people as well.

[2022-03-11 21:25] StarTrooper08 opened #89 "[BUG] Navbar UI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

NavBar UI currently:
- The EOS icon in the navbar is quite small and is also not aligned with the home, about nav tab properly(for the desktop screen).

![eos3](https://user-images.githubusercontent.com/72031540/157967894-1491e7bb-0bcd-4aa8-a3f4-570d53d314a0.png)

### Expected Behavior

Navba

[2022-03-12 12:02] akankshat05 opened #90 "Categories not displayed on mobile devices"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

On mobile devices, categories are not been displayed.

![Screenshot_4](https://user-images.githubusercontent.com/72144454/158017093-158a3e10-27f3-46d8-9c93-a3757fd320f6.png)

### Expected Behavior

Displaying categories on all devices.

### Steps To Reproduce

_No response_

### Anything else

[2022-03-12 12:13] akankshat05 commented on #90
@vinayaksh42 @Abhirup-99 can I fix this issue?

[2022-03-12 13:48] vinayaksh42 commented on #90
@akankshat05 i think the categories and tags are not being displayed as the phone screen size is very small compared to desktop screen size. If you you can come up with a way (better UI/UX) to fit in the categories, we can think about adding it to phone screen size.

[2022-03-12 13:59] Abhirup-99 opened #91 "[Code Health] Migrate Gitlab templates and drop .gitlab folder."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

_No response_

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

### What browsers are you seeing the problem on?

_No response_

[2022-03-12 19:16] akankshat05 opened #92 "Page refreshes on click of CookieBanner elements"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![Screenshot](https://user-images.githubusercontent.com/72144454/158031485-812df0ee-37db-4634-8ebb-029abb43b985.png)
On clicking any of the above button and links, page refreshes.

### Expected Behavior

Page should not refresh on click of any links or button.

### Steps To Reproduce

1. Open

[2022-03-12 19:23] akankshat05 commented on #92
@vinayaksh42 @Abhirup-99 Can I fix this issue? We can remove window.location.reload and add Link (ReachRouter) for links.

[2022-03-12 19:24] Abhirup-99 commented on #92
Go ahead!

[2022-03-13 03:04] ayushsatyam146 commented on #91
Should I go ahead with this?

[2022-03-13 17:33] shagunchandra opened #95 "[BUG] Navbar Bottom Border UI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The thickness of the bottom blue line under Icons, About Us, Docs, and Team are not equal.

![bug1](https://user-images.githubusercontent.com/84984600/158071776-cd02b8cf-da39-4a00-a662-b58a69eb368d.png)
![bug2](https://user-images.githubusercontent.com/84984600/158071786-77c5355a-4a39-49d7-83

[2022-03-13 17:34] shagunchandra commented on #95
I am working on this.

[2022-03-13 17:41] AnshumanDhiman opened #97 "Switch theme icons not aligned properly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When a user switches theme, the gap between the icon title and icons gets reduced.

https://user-images.githubusercontent.com/67755381/158072100-47cbf2c0-ba63-44a8-913b-b9d5f4f6f143.mp4

### Expected Behavior

Margin should be provided so that the switch theme icons can be equalized.

### Ste

[2022-03-13 17:41] AnshumanDhiman commented on #97
I would like to work on this

[2022-03-14 03:43] AnshumanDhiman opened #98 "Add Alert for no Font Selected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When a user selects multiple icons and if a user tries to click on Images with no icon selected, an Alert is shown saying 'no images selected' but in case of font no alert is shown.

https://user-images.githubusercontent.com/67755381/158101162-7c824fe2-8716-43d5-8018-095fb04cfc4a.mp4

### Exp

[2022-03-14 03:44] AnshumanDhiman commented on #98
I would like to work on this

[2022-03-14 03:51] AnshumanDhiman opened #99 "Code color not rendering properly Docs/In Your Application"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

There is a color scheme provided by prism-theme.scss which is used in code sections(where the links are stored). When we view the (in your application) page the code section shows colorful code, but as soon as we change to any other section such as (React) or (Vue) and then go back to (In you

[2022-03-14 03:51] AnshumanDhiman commented on #99
I would like to work on this.

[2022-03-14 03:52] ayushsatyam146 opened #100 "Close colour picker prompt on clicking outside"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The Colour picker prompt opens up on clicking the' edit and download' button but doesn't close on clicking outside the prompt.

### Expected Behavior

The Colour picker prompt opens up on clicking the' edit and download' button and closes on clicking outside the prompt.

### Steps To Reproduc

[2022-03-14 03:53] ayushsatyam146 commented on #100
I am working on this.

[2022-03-14 03:55] #87 closed

[2022-03-14 18:11] ayushsatyam146 opened #102 "Smoothen colour picker cursor in "edit and download" section"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The Colour picker cursor is not smooth and non continuous

Current behaviour

https://user-images.githubusercontent.com/55888723/158234583-18d269bc-4a1d-4655-a545-75f2775ed771.mp4

### Expected Behavior

The Color picker cursor should be smooth and continuous.

### Steps To Reproduce

1. Sele

[2022-03-15 20:06] #98 closed

[2022-03-15 20:12] #97 closed

[2022-03-15 20:36] vinayaksh42 commented on #47
Sure, let's schedule a call. Can you dm me on Slack so that we can fix a time for the call?

[2022-03-16 03:36] ayushsatyam146 opened #107 "Unusual behaviour on deselecting an animated icon"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When we click on an already selected animated icon to deselect it. It doesn't get deselected. Also, URL and search params remain populated with the data of the last selected icon.

### Expected Behavior

Deselecting any animated icon in a single click, and clearing out the URL and search para

[2022-03-16 15:26] ayushsatyam146 commented on #107
I am working on this

[2022-03-16 15:28] ayushsatyam146 opened #108 "Upload JSON button in Customize Panel section while multiple icons is selected accepts all kinds of files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Upload JSON button accepts all kinds of files

![image](https://user-images.githubusercontent.com/55888723/158626606-caa31fb5-ce5c-4aae-a89a-be8b4d78ca81.png)

### Expected Behavior

Only files with .json extension should be uploaded

### Steps To Reproduce

1. Click on Select multiple
2. Try

[2022-03-16 16:11] #82 closed

[2022-03-16 18:16] #100 closed

[2022-03-16 18:31] Abhirup-99 opened #110 "Fix failing build and treat warnings as errors during PR builds."
### Is your feature request related to a problem? Please describe.

In the current implementation, this has been a recurring case where CI completes successfully in PRs but fails during building for master. This scenario can be avoided by treating warnings as errors in CI itself.

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered

_No response_

###

[2022-03-17 05:55] #108 closed

[2022-03-17 16:30] AnshumanDhiman opened #111 "404 Error Page Re-design"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The current error page is as follows

![image_2022-03-17_215628](https://user-images.githubusercontent.com/67755381/158847380-c1d05185-8d02-4372-8764-c6a9e17f63aa.png)

### Expected Behavior

The text in the error page should be made more clear and re-aligned. Also a button should be added so

[2022-03-17 16:31] AnshumanDhiman commented on #111
I am working on this issue

[2022-03-17 17:58] StarTrooper08 opened #112 "Feature Request: Toast message when we copy html tag"
### Is your feature request related to a problem? Please describe.

When we copy the HTML tags for the specific icon. We don't get any message whether we have copied the icon tag or not.
![toastmsgfeature1SS](https://user-images.githubusercontent.com/72031540/158865340-6ce6fcb4-2354-40e0-b117-66d71e0d9b60.png)
.tags

### Describe the solution you'd like.

So I have added the toast msg feature when

[2022-03-17 20:33] vinayaksh42 commented on #112
@StarTrooper08 We already have an issue open for the same. https://github.com/EOS-uiux-Solutions/eos-icons-landing/issues/45

[2022-03-18 07:58] StarTrooper08 commented on #45
This PR will solve this issue : https://github.com/EOS-uiux-Solutions/eos-icons-landing/pull/113

[2022-03-18 08:07] StarTrooper08 commented on #112
PR: https://github.com/EOS-uiux-Solutions/eos-icons-landing/pull/113#issue-1173291553

But it gives a build error in this file which I haven't changed
![error](https://user-images.githubusercontent.com/72031540/158961258-9ff311ce-952c-4043-8593-d801436c890c.png)

[2022-03-18 19:05] StarTrooper08 commented on #45
PR : https://github.com/EOS-uiux-Solutions/eos-icons-landing/pull/116

[2022-03-19 07:41] StarTrooper08 commented on #15
I have tried the website running on my Android tablet. It worked fine there too. But when I inspected different screen sizes and resolutions using a chrome browser. I found that the alignment & position of elements in the website break.
On a few devices, UI elements remained aligned and positioned properly and on a few devices, it's not the case.

SS of devices on the UI is breaking:
###### Nexus

[2022-03-19 12:36] shagunchandra opened #117 "[BUG] Extra white space under Docs Section"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image](https://user-images.githubusercontent.com/84984600/159120852-df61a57c-7dfa-476a-ba4b-3651f5f436ec.png)

Under the docs section, there is a lot of white space.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Anything else?

_No response_

### What bro

[2022-03-19 12:36] shagunchandra commented on #117
I am working on this

[2022-03-19 16:38] ayushsatyam146 opened #118 "Feature Request: Open Icon editor panel on double clicking an icon"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Icons just get selected and deselected when a user double clicks on them. User should get icon editor panel on double clicking an icon.

### Expected Behavior

User should get the icon editor panel on double clicking fastly on an icon.

### Steps To Reproduce

1. Double click on any icon
2. I

[2022-03-19 16:38] ayushsatyam146 commented on #118
I am working on this

[2022-03-20 20:39] StarTrooper08 commented on #89
![EOSnavbar](https://user-images.githubusercontent.com/72031540/159184961-41080659-08c3-41d2-ad4f-9ad52ab042c6.png)
Navbar elements aligned properly in row.

@kbhutani0001 please have a look.

[2022-03-20 20:51] StarTrooper08 commented on #89
Even the active tab (blue underline) doesn't vanish now.

### Before changes
![og1](https://user-images.githubusercontent.com/72031540/159185357-83e543be-8456-42dd-9866-d94cdba3b786.png)
:arrow_double_down:
![og2](https://user-images.githubusercontent.com/72031540/159185361-4b8e44b1-1126-433b-b6e0-2c3772a8fbe0.png)

## After changes
![changed1](https://user-images.githubusercontent.com/72031540/15

[2022-03-21 13:05] ayushsatyam146 opened #122 "Animated icons not wrapped in dedicated Icons component"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Animated icons are wrapped around certain divs in the `src/module/IconSet.js` file, instead of the dedicated Icons component. It makes it cluttered and hard to work with

### Expected Behavior

Modify and use the IconDisplay component for animated Icons and wrap animated as well as static ico

[2022-03-22 10:06] cyntss opened #124 "[BUG] Refreshing everything is breaking the UX"
When someone recently worked on the refresh event something broke. Now if i share a URL this gets cleaned up once I visit it.
Try it by going to :

https://eos-icons.com/?iconName=bootstrapping&type=static

then see that the URL would have cleaned now, so you can't copy-paste it again.

Additionally, something major is what happens when:
1- Search for an icon name, for instance, "pin"
2- Now click

[2022-03-22 10:24] ayushsatyam146 commented on #124
I would like to work on this issue.

[2022-03-22 10:41] ayushsatyam146 commented on #124
I am planning to do the following -
1. Everything including URL and search params remain intact on refresh
2. Fix behaviour of clicking on icons after search
3. Retain the search and url params in a shared link
4. Implement auto scroll to selected Icon in a shared link( I need help for setting up the build for this issue)

[2022-03-22 18:51] #89 closed

[2022-03-22 20:24] #122 closed

[2022-03-23 07:46] #118 closed

[2022-03-29 20:00] #124 closed

[2022-03-29 20:06] #80 closed

[2022-03-30 13:20] rheo-chiti opened #128 "[BUG] Can't view icons related to tags"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When clicking on an icon and then clicking on its tags, it's not showing icons with the selected tag.

### Expected Behavior

When clicking on a tag it should show all the icons with the selected tag.

### Steps To Reproduce

1. Click on any icon
2. Click on any icon's tag
3. It's showing all

[2022-03-30 19:06] sarthakkundra opened #130 "Feature Request: Github Action for preview deployments"
### Is your feature request related to a problem? Please describe.

A lot of times people have to add screenshots/videos for their UI changes in their PRs for the maintainers to verify their changes. This is quite error-prone as maintainers can't check for responsiveness among a lot of other things.

### Describe the solution you'd like.

A Github action to deploy all PRs to a preview vercel subdo

[2022-03-31 14:14] ayushsatyam146 commented on #130
I think the react-preview app might also be considered here. It needs to be configured once by someone with access to repo but after that, we can get separate preview links for every PR and commit by just putting a comment under the PR.
App link - https://github.com/apps/react-preview

[2022-03-31 15:34] #128 closed

[2022-04-03 21:22] #111 closed

[2022-04-05 11:48] ayushsatyam146 commented on #99
@vinayaksh42 if no one is working on this issue, I would like to pick this up.

[2022-04-05 15:41] AnshumanDhiman commented on #99
@ayushsatyam146 I tried updating & fetching a fresh piece of code from provided by prism-theme but that didn't work out. Also I tried changing & providing a custom CSS to the block but that also didn't worked. This issue seems to be getting replicated when we change our sections from current docs section to in your application, on your computer etc.. but as soon we refresh the website (with the he

[2022-04-16 13:01] #112 closed

[2022-05-04 11:12] jhmarina opened #136 "[BUG] Exporting outlined icon ends up exporting the filled version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When selecting an outlined icon for export, the icon that ends up being exported is the filled version. This fails both for SVGs & PNGs

### Expected Behavior

When I export an outlined icon as SVG I expect to be able to get the outlined version of the icon, not the filled version

### Steps

[2022-07-01 08:31] #99 closed